modules = ["python-3.11"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -u main.py"

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
PAKASIR_PROJECT = "kifzl"
PAKASIR_API_KEY = "pshebntafOuCoRpuQ5DBs2p9mML5cKU5"
IVAS_SSH_HOST = ""
IVAS_SSH_PORT = ""
IVAS_SSH_USER = ""
IVAS_SSH_PASS = ""
IVAS_PROXY_URL = ""
