requests[socks]>=2.31.0
beautifulsoup4>=4.12.2
python-socketio>=5.11.0
websocket-client>=1.7.0
python-dotenv>=1.0.1
colorama==0.4.6
pyTelegramBotAPI
httpx[socks]
phonenumbers
langdetect
openpyxl
gTTS
qrcode
pillow
PySocks
paramiko
